@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    margin: 0;
}

main {
    padding-top: 1em;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    padding: 1em;
    font-weight: bold;
}

h2 {
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #707070;
    padding: 1em 1.2em 1.5em;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #707070;
    padding: 0em 3em;
    font-weight: bold;
}

h4 {
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #707070;
    padding: 0.5em 3.8em 0em;
    font-weight: bold;
}

p {
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #707070;
    padding: 0em 3.8em;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0em 2em;
}


/* Navigation bar links styling */

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 1px 0.5px 3px #000;
}

nav a {
  text-transform: capitalize;
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}


nav a:link {
    text-decoration: none;
    color: #707070;
}

nav a:visited {
    text-decoration: none;
    color: #707070;
}

nav a:hover {
    font-weight: bold;
    text-decoration-color: #707070;
}

nav a:active {
    text-decoration: none;
    text-decoration-color: #707070;
}


/* REVISAR ESTO */
.productlist > section {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-bottom: 40px;
}

.productlist > section > h2 {
  grid-column: 1/-1;
  margin-bottom: -40px;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #E5E5E5;
  padding: 2.5em 0em;
  margin: 1.5em;
  position: relative;
}

.hidden {
    display: none;
}

.soldout {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: white;
    background: #FF4747;
    height: 2em;
    text-align: center;
    padding: 0.5em;
    align-content: center;
    font-weight: bold;
}

.allergens {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: white;
    background: yellow;
    height: 2em;
    text-align: center;
    padding: 0.5em;
    align-content: center;
    font-weight: bold;
}

button {
  display: flex;
  justify-content: center;
  margin: 2em 2em 0em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #777777;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  border: 0;
  cursor: pointer;
}


/*button.active {
  background: hotpink;
  color: white;
}

.productbody button {
  margin-top: auto;
  background-color: var(--secondary-light);
  color: #fff;
  border: 0;
  padding: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}*/


/* MODAL */

.hide {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  padding: 2em;
}

